@inject IApplicationNavigationService Navigation
@inject IStringLocalizer<SharedResource> Localizer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@Localizer["AppName"]</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        @foreach (var item in Navigation.GetMainNavigation())
        {
            <div class="nav-item px-3">
                @if (item.IsEnabled)
                {
                    <NavLink class="nav-link" href="@item.Href" Match="@GetMatch(item)">
                        <span class="bi @item.IconCssClass" aria-hidden="true"></span>
                        <span>@Localizer[item.ResourceKey]</span>
                    </NavLink>
                }
                else
                {
                    <span class="nav-link nav-link-disabled" title="@Localizer["ComingSoon"]">
                        <span class="bi @item.IconCssClass" aria-hidden="true"></span>
                        <span>@Localizer[item.ResourceKey]</span>
                    </span>
                }
            </div>
        }
    </nav>
</div>

@code {
    private static NavLinkMatch GetMatch(NavigationItem item)
    {
        return string.IsNullOrWhiteSpace(item.Href)
            ? NavLinkMatch.All
            : NavLinkMatch.Prefix;
    }
}
