@inject IApplicationNavigationService Navigation
@inject IStringLocalizer<SharedResource> Localizer
@inject ICurrentUserService CurrentUserService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@Localizer["AppName"]</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        @foreach (var item in Navigation.GetMainNavigation())
        {
            <div class="nav-item px-3">
                @if (item.IsEnabled)
                {
                    <NavLink class="nav-link" href="@item.Href" Match="@GetMatch(item)">
                        <span class="bi @item.IconCssClass" aria-hidden="true"></span>
                        <span>@Localizer[item.ResourceKey]</span>
                    </NavLink>
                }
                else
                {
                    <span class="nav-link nav-link-disabled" title="@Localizer["ComingSoon"]">
                        <span class="bi @item.IconCssClass" aria-hidden="true"></span>
                        <span>@Localizer[item.ResourceKey]</span>
                    </span>
                }
            </div>
        }
        @if (IsKlassensprecher)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="timetable" Match="NavLinkMatch.Prefix">
                    <span class="bi bi-calendar-week-nav-menu" aria-hidden="true"></span>
                    <span>@Localizer["TimetableNavItem"]</span>
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool IsKlassensprecher { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var user = await CurrentUserService.GetRequiredUserAsync();
            IsKlassensprecher = user.Role == AzubiLog.Models.UserRole.Klassensprecher;
        }
        catch
        {
            IsKlassensprecher = false;
        }
    }

    private static NavLinkMatch GetMatch(NavigationItem item)
    {
        return string.IsNullOrWhiteSpace(item.Href)
            ? NavLinkMatch.All
            : NavLinkMatch.Prefix;
    }
}
